/* colors
#5680E9
#84CEEB
#5AB9EA
#C1C8E4
#8860D0 */

.App {
  text-align: center;
  background-color: var(--bg-color);
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  width: 100%;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  overflow-x: auto;
  padding: 0;
  margin-bottom: 100px;
}

.x {
  width: 30px;
  margin-right: 10px;
  filter: var(--icon-color);
}

.x:hover {
  filter: invert(37%) sepia(91%) saturate(811%) hue-rotate(175deg)
    brightness(94%) contrast(93%);
  cursor: pointer;
}

li {
  color: var(--text-color);
  height: auto;
  display: flex;
  align-items: center;
  width: 100%;
}

p {
  max-width: 300px;
}

.boxtodo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carddate {
  color: white;
  width: 180px;
  height: 150px;
  border-radius: 15px;
  background: linear-gradient(to bottom, #1976d2 0%, #5ba5f0 100%);
  /* box-shadow: 2px 2px 3px #888888; */
  transition-duration: 0.4s;
}
.css-1480iag-MuiInputBase-root-MuiInput-root:before {
  border-bottom: 1px solid var(--text-color) !important;
}
.css-1x51dt5-MuiInputBase-input-MuiInput-input {
  color: var(--text-color) !important;
}
.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root {
  background-color: transparent !important;
  color: var(--text-color) !important;
}

.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root.Mui-selected:hover {
  will-change: background-color;
  background-color: #1976d2 !important;
  color: white !important;
}

.css-195y93z-MuiButtonBase-root-MuiPickersDay-root {
  background-color: transparent !important;
}

.css-195y93z-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
  border: 1px solid var(--text-color) !important;
}
.css-195y93z-MuiButtonBase-root-MuiPickersDay-root {
  color: var(--text-color) !important;
}

.css-195y93z-MuiButtonBase-root-MuiPickersDay-root.Mui-selected:hover {
  will-change: background-color !important;
  background-color: #1565c0 !important;
  color: white !important;
}

.css-1w13o7u-MuiTypography-root {
  color: var(--text-color) !important;
}

.css-l0iinn {
  color: var(--text-color) !important;
}

.css-fd2y78-MuiSvgIcon-root {
  color: var(--text-color) !important;
}

.css-i4bv87-MuiSvgIcon-root {
  fill: var(--text-color) !important;
}

.carddate:hover {
  transform: scale(1.1);
}

.carddate2:hover {
  transform: scale(1.1);
}

.textdate {
  padding: 20px;
  font-size: large;
  font-weight: bold;
  text-align: left;
}

.dateicon {
  filter: invert(100%) sepia(0%) saturate(7477%) hue-rotate(44deg)
    brightness(108%) contrast(106%);
  width: 30px;
}

.titledate {
  padding: 20px;
  font-size: large;
  text-align: left;
}

@media (min-width: 900px) {
}

@media screen and (display-mode: standalone) {
  header {
    height: 88px !important;
  }
}
