/* colors
#5680E9
#84CEEB
#5AB9EA
#C1C8E4
#8860D0 */

.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  width: 100%;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  overflow-x: auto;
  padding: 0;
  margin-bottom: 100px;
}

.x {
  width: 30px;
  margin-right: 10px;
}

.x:hover {
  filter: invert(37%) sepia(91%) saturate(811%) hue-rotate(175deg)
    brightness(94%) contrast(93%);
  cursor: pointer;
}

li {
  height: auto;
  display: flex;
  align-items: center;
  width: 100%;
}

p {
  max-width: 300px;
}

.boxtodo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.datepicker {
  background-color: white;
  width: 100%;
}

.carddate {
  color: white;
  width: 180px;
  height: 150px;
  border-radius: 25px;
  background: linear-gradient(to bottom, #1976d2 0%, #5ba5f0 100%);
  box-shadow: 2px 2px 3px #888888;
  transition-duration: 0.4s;
}

.carddate2 {
  color: white;
  width: 180px;
  height: 150px;
  border-radius: 25px;
  background-color: #d65858;
  box-shadow: 2px 2px 3px #888888;
  transition-duration: 0.4s;
}

.carddate:hover {
  transform: scale(1.1);
}

.carddate2:hover {
  transform: scale(1.1);
}

.textdate {
  padding: 20px;
  font-size: large;
  font-weight: bold;
  text-align: left;
}

.dateicon {
  filter: invert(100%) sepia(0%) saturate(7477%) hue-rotate(44deg)
    brightness(108%) contrast(106%);
  width: 30px;
}

.titledate {
  padding: 20px;
  font-size: large;
  text-align: left;
}

@media (min-width: 900px) {
}

@media screen and (display-mode: standalone) {
  header {
    height: 88px !important;
  }
}
